---
layout: default
title: Dehli Design, LLC
---

<div id="home">
  <ul class="posts">
  	{% assign counter=0 %}

    {% for post in site.posts %}

      {% if counter%4 == 0 %}
        <li>
      {% endif %}
      
      <a href="{{ site.baseurl }}{{ post.url }}">
        <img src={{ post.image}} alt="Image Title" width="25%">
      </a>
      
      {% if counter%4 == 3 or counter == site.posts.size %}
        </li>
      {% endif %}

      {% assign counter=counter | plus:1 %} 
    {% endfor %}
  </ul>
</div>