---
layout: default
title: Dehli Design, LLC
---

<script src="myscripts.js"></script>
<body onload="setupHome()">

<div id="home">
	<ul class="posts">

		{% for post in site.posts %}

			{% assign col = 7 %}
			{% assign mod = forloop.index0 | modulo:col %}

			{% if forloop.index0 == 0 %}
				<li>
			{% endif %}

				<a href="{{ site.baseurl }}{{ post.url }}">
					<img class="grayscale" src={{ post.thumbnail}} alt={{ post.dimensionX }}>
				</a>
				
			{% if forloop.index0 == site.posts.size %}
				</li>
			{% endif %}

		{% endfor %}

	</ul>
</div>