<div id="artwork" class="container">
    <h2>Artwork</h2>

    <div class="row">
    {% for post in site.posts %}
        <div class="col-md-3 image-container">
            <button onclick="openModal({{forloop.index0}})">
                <img src="{{ post.thumbnail}}" alt="Art Thumbnail" />
            </button>
        </div>
    {% endfor %}
    </div>
</div>

<!-- Artwork Modals -->
{% for post in site.posts %}
<div class="modal" id="modal-{{forloop.index0}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">{{post.title}}</h4>
            </div>
            <div class="modal-body">
            {% for image in post.images %}
                <img src="{{image.url}}" alt="Art Photograph"/>
            {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
