<div id="contact" class="container">
    <div class="row">
        <h2 class="pull-right">Contact</h2>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-4">
            <!-- Progress indicator -->
            <div class="progress">
                <div class="progress-bar"></div>
            </div>

            <!-- Message sent -->
            <div class="message-sent">
                <h3>Message Sent!</h3>
            </div>

            <!-- Inputs -->
            <div class="contact-form">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <input name="phone" type="tel" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <textarea name="message" rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group text-center">
                        <button class="btn btn-success btn-lg" onclick="sendEmail()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
