---
layout: default
---

<script src="myscripts.js"></script>
<body onload="setup()">

<h2 id="title">{{ page.title }}</h2>
<h4>{{ page.price }}</h4>
<h4>{{ page.dimensionX }} h x {{ page.dimensionY }} l x {{ page.dimensionZ }} w</h4>
<h4>{{ page.materials }}</h4>

<div style="clear:both">
	<img src={{ page.image0 }} alt="Art" style="float:left">
	<img src={{ page.image1 }} alt="Art" style="float:left">
	<img src={{ page.image2 }} alt="Art" style="float:left">
</div>

<div class="post">
{{ content }}
</div>