---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
    margin-top: 64px;
    margin-bottom: 250px;

    #page-content {

        #about {
            img {
                border-radius: 20px;
                float: left;
                width: 135px;
                margin-top: 5px;
                margin-right: 10px;
            }
        }

        #artwork {
            .image-container {
                button {
                    border: none;
                    background-color: transparent;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        #contact {
            .progress, .message-sent {
                display: none;
            }
        }

        .modal {
            img {
                width: 100%;
            }
        }
    }
}
